<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content='Instalación y mantenimiento de paneles solares en Puebla. Calcula tu presupuesto al instante con nuestro cotizador en línea. Soluciones Tecnológicas, expertos en energía solar.' />

    <meta name="keywords"
        content="paneles solares, cotizador solar, instalación fotovoltaica, energía solar Puebla, inversores, mantenimiento solar, Soluciones Tecnológicas" />


    <meta name="author" content="Soluciones Tecnológicas">
    <meta name="theme-color" content="#0f172a">
    <meta name="robots" content="index, follow">

    <meta property="og:title" content="Soluciones Tecnológicas">
    <meta property="og:description"
        content="Instalación y mantenimiento de paneles solares en Puebla. Calcula tu presupuesto al instante con nuestro cotizador en línea. Soluciones Tecnológicas, expertos en energía solar.">



    <% if (typeof title !== "undefined" && title) { %>

    <title><%= title %></title>
    <% }  %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="shortcut icon" href="/img/soleado.ico" type="image/x-icon">

    <!-- Cargar fuente Inter -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/output.css">
    <link rel="stylesheet" href="/css/animations.css">

    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>

</head>